# dev | prod
ENV=dev

# DEBUG | INFO | WARNING | ERROR | CRITICAL
LOG_LEVEL=INFO

# PostgreSQL / Airflow metadata DB
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=joblake
POSTGRES_PASSWORD=joblake
POSTGRES_DB=airflow_db

AIRFLOW_DB=airflow_db
AIRFLOW_UID=50000
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
AIRFLOW_EMAIL=admin@example.com
AIRFLOW_API_SECRET_KEY=change-me

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC_RAW=joblake.raw.vacancies
KAFKA_TOPIC_ERROR=joblake.raw.vacancies.errors

# MinIO / S3
MINIO_USER=admin
MINIO_PASSWORD=adminadmin
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=adminadmin
AWS_REGION=us-east-1
S3_ENDPOINT=http://minio:9000
JOBLAKE_BUCKET=joblake
JOBLAKE_WAREHOUSE=s3://joblake/warehouse

# Iceberg REST catalog
ICEBERG_REST_URI=http://iceberg-rest:8181
ICEBERG_CATALOG_NAME=joblake

# Services
AGENT_ROOT_PATH=/api/v1
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL_NAME=gemma4:31b-cloud
TRINO_SCHEME=http
TRINO_HOST=trino
TRINO_PORT=8080
TRINO_USER=joblake
TRINO_CATALOG=joblake
TRINO_SCHEMA=gold
